@include mediaRange($size960, $size1200) {
    .header .main_menu {
        margin: 0 -15px;

        li {
            padding: 0 15px;
        }
    }
}


@include mediaFrom($size1200) {
    .header .main_menu {
        margin: 0 -30px;

        li {
            padding: 0 30px;
        }
    }
}