%standardList {
    @include standardList();
}

%standardRowList {
    @include standardRowList();
}

%coverLayer {
    @include coverLayer();
}

%fixedCover {
    @include fixCoverLayer;
}

%verticalRotate {
    @include transStyle(scaleX(-1));
}

%horizontalRotate {
    @include transStyle(scaleY(-1));
}

%centeredImage {
    > img {
        @extend %coverLayer;
        object-fit: cover;
    }
}

%coverVideo {
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

%square {
    @include overHidden();
    @extend %centeredImage;
    @extend %coverVideo;

    &:before {
        display: block;
        content: "";
        padding-bottom: 100%;
    }
}

%almostSquare {
    @include overHidden();
    @extend %centeredImage;
    @extend %coverVideo;

    &:before {
        display: block;
        content: "";
        padding-bottom: 75%;
    }
}

%lessWide {
    @include overHidden();
    @extend %centeredImage;
    @extend %coverVideo;

    &:before {
        display: block;
        content: "";
        padding-bottom: 62.5%;
    }
}

%standardWide {
    @include overHidden();
    @extend %centeredImage;
    @extend %coverVideo;

    &:before {
        display: block;
        content: "";
        padding-bottom: 56.25%;
    }
}

%halfWide {
    @include overHidden();
    @extend %centeredImage;
    @extend %coverVideo;

    &:before {
        display: block;
        content: "";
        padding-bottom: 50%;
    }
}

%superWide {
    @include overHidden();
    @extend %centeredImage;
    @extend %coverVideo;

    &:before {
        display: block;
        content: "";
        padding-bottom: 25%;
    }
}

%standardNarrow {
    @include overHidden();
    @extend %centeredImage;

    &:before {
        display: block;
        content: "";
        padding-bottom: 177.78%;
    }
}

%lessNarrow {
    @include overHidden();
    @extend %centeredImage;

    &:before {
        display: block;
        content: "";
        padding-bottom: 133.33%;
    }
}

%iconElement {
    &:before,
    &:after {
        font-family: 'icon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

%noBlink {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

%centerBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

%centerInlineBlock {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    text-align: center;
}

%linkTypeBtn {
    border: none;
    padding: 0;
    background: transparent;
}

%middleText {
    font-size: 160%;
    line-height: 25px;
}

%standardText {
    font-size: 140%;
    line-height: 20px;
}

%smallText {
    font-size: 120%;
    line-height: 15px;
}

%sectionMarginBottom {
    @include mediaFrom($size960) {
        margin-bottom: 120px;
    }
    @include mediaRange($size768, $size960) {
        margin-bottom: 90px;
    }
    @include mediaTo($size768) {
        margin-bottom: 50px;
    }
}

%sectionMarginTop {
    @include mediaFrom($size960) {
        margin-top: 120px;
    }
    @include mediaRange($size768, $size960) {
        margin-top: 90px;
    }
    @include mediaTo($size768) {
        margin-top: 50px;
    }
}

%sectionPaddingTop {
    @include mediaFrom($size960) {
        padding-top: 120px;
    }
    @include mediaRange($size768, $size960) {
        padding-top: 90px;
    }
    @include mediaTo($size768) {
        padding-top: 50px;
    }
}

%sectionPaddingBottom {
    @include mediaFrom($size960) {
        padding-bottom: 120px;
    }
    @include mediaRange($size768, $size960) {
        padding-bottom: 90px;
    }
    @include mediaTo($size768) {
        padding-bottom: 50px;
    }
}

%standardBtn {
    border: none;
    height: 50px;
    @extend %descriptionSub;
    @extend %centerInlineBlock;
}

%primaryBtn {
    @extend %standardBtn;
    background: $white;
    color: $darkBlue;
    font-family: $bold;
    border-radius: 10px;
    @include loading;
    padding: 12px 34px;
    @extend %siteColorAlfaHover;
}

%secondaryBtn {
    @extend %standardBtn;
    background: $mainGradient;
    font-family: $bold;
    color: $white;
    border-radius: 10px;
    padding: 12px 34px;
    background-size: auto 100%;
    @include loading;
    @extend %siteBgAlfaHover;
}

