//font families
$regular: "regular";
$bold: "bold";
$extra: "extra";

//media query sizes
$size400: 401px;
$size480: 481px;
$size576: 576px;
$size600: 601px;
$size640: 641px;
$size720: 721px;
$size768: 769px;
$size960: 1025px;
$size1200: 1201px;
$size1280: 1281px;
$size1366: 1366px;
$size1440: 1441px;
$size1600: 1601px;

//colors
$black: #000000;
$black33: #333333; 
$gray66: #666666;
$gray99: #999999;
$grayE5: #e5e5e5;
$gray97:#979797;
$gray8C:#8C919D;
$grayF8:#FFFFFF80;
$white: #ffffff;
$creamyF2:#f2f2f2;
$error: #DC0028;
$siteColor: #069dd5;
$blue0E: #0E1476;
$secondColor: $black;
$textColor: $black33;
$success: #38C758;
$info: #388BC7;
$warning: #FFD99F;
$devColor: #069dd5;
$blue33:#033FFF;
$darkBlue: #040738;
$backgroundColor: #F1F3F8; 
$buttonHover: #0633D8;
$buttonTextHover: $buttonHover;
$descColor:#D3DAE3;
$descColor3D:#32353D;
$shadowColor:#A0A4BC4D;
$bacgroundED:#E1E3ED;
$mainGradient:linear-gradient(180deg, #033FFF 12.61%, #0E1476 81.04%);

//social icons original color
$facebookColor: #3b5998;
$twitterColor: #00acee;
$youtubeColor: #c4302b;
$behanceColor: #053eff;
$linkedinColor: #0e76a8;
$okColor: #ed812b;
$pinterestColor: #c8232c;
$vkColor: #4c75a3;
$tiktokColor: #EE1D52;
$telegramColor: #0088cc;
$instagramColor: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

//sizes
$containerWidth: 1480px;
$containerPadding: 15px;
$containerMobPadding: 15px;
$colPadding: 15px;
$colMobPadding: 15px;
$rowMargin: -$colPadding;
$rowMobMargin: -$colMobPadding;


